
body{
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #caf1ff, #cae5f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
section{
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cae5f7, #caf1ff,#FFFFFF ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin:auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    border-color:black;
    
    box-shadow: 20px 20px 60px #c5c5c5,
           -20px -20px 60px #ffffffcb;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

input {
    margin:auto;
    border: 1;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 20px 20px 60px #c5c5c5,
           -20px -20px 60px #ffffffcb;
    transition: 0.3s;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}
   
input:focus {
    outline-color: #e8e8e8;
    background: #f6f8d8;
    box-shadow: inset 20px 20px 60px #fff9dd,
           inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
   
   button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
}